@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Noto+Emoji&display=swap');

::selection {
    color: #212121;
    background: #ffe551;
}

body {
    font-family: "Inter", sans-serif, "Noto Emoji";
    color: #212121;
    background-color: #e0e0e0;
}

h1, h2, h3 {
    line-height: 1.2;
}

pre {
    font-family: monospace;
    font-size: initial;
    line-height: initial;
    overflow-x: auto;
}

td {
    vertical-align: top;
}

input, textarea, button {
    -webkit-appearance: none;
    padding: 5px 8px;
    font-size: 16px;
    font: inherit;
    background-color: #d0d0d0;
    border: 1px solid #212121;
    border-radius: 0;
}

.posts-table td {
    padding: 2px;
    border-bottom: 1px solid;
}

input[type=file] {
    background-color: initial;
    border: initial;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0 15px;
    border-left: .2em solid;
}

img {
    max-width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #e0e0e0;
        background: #212121;
    }
    a:link {
        color: #ffe551;
    }
    a:visited {
        color: #ffe551;
    }
    input, textarea, button {
        color: #e0e0e0;
        background-color: #424242;
        border: 1px solid #e0e0e0;
    }
    .posts-table td {
        border-bottom: 1px solid;
    }
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding-right: 8px;
}

/* Classes */

.field { margin-bottom: 1rem; }
.field > label { margin-bottom: .25rem; }
.field > * { display: block; width: 100%; box-sizing: border-box; }

.editor { height: 500px; }
.about { height: 150px; }
.auth-form { max-width: 400px; }

.posts-title {
    padding-left: 8px;
}

.posts-date {
    white-space: nowrap;
}